Title: Archive
---
@{
    Layout = "/_Layout.cshtml";
}

@{
    foreach(IGrouping<int, IDocument> group in Model.DocumentList(Keys.PageDocuments)
        .Where(x => x.ContainsKey(BlogKeys.Published))
        .OrderByDescending(x => x.Get<DateTime>(BlogKeys.Published))
        .GroupBy(x => x.Get<DateTime>(BlogKeys.Published).Year)
        .OrderByDescending(x => x.Key))
    {
        <h1 class="archive-header">@group.Key</h1>
        @Html.Partial("_PostList", group);
    }

    @if(Model.Bool(Keys.HasPreviousPage) || Model.Bool(Keys.HasNextPage))
    {
    <ul class="pager">
        @if(Model.Bool(Keys.HasPreviousPage))
        {
            <li class="previous">
                <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a>
            </li>
        }
        @if(Model.Bool(Keys.HasNextPage))             
        {
            <li class="next">           
                <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a>            
            </li>
        }
    </ul>
    }
}