<div class="index-content">
    <img src="/assets/img/quitting_time_dm8t.svg" alt="Leaving office" style="margin-top: 30px;">
    <h1>Hi, I'm Peter. I'm a software developer.</h1>
    <div>
        <p class="subheading">I currently work on a global cloud-hosted SAAS product. I've previously worked on e-commerce sites, both back-end and front-end, across a variety of verticals for B2B and B2C clients. Sometimes I blog.</p>
        <p class="subheading">If you want to send me a message you can find me on <a href="https://twitter.com/PeterBrooksbank">Twitter</a>.</p>
    </div>
</div>