@section CSS {
    <link href='@Context.GetLink("/assets/css/index-page.css")' rel="stylesheet" />
}

<div id="index-content">
    <div id="main">
        <div id="left">
        </div>
        <div id="right">           
            <a id="blog-title" class="header__link" href="@Context.GetLink("/")">
			</a>
            <p id="site-tagline">I build stuff on the web.</p>
        </div>        
    </div>
</div>