@{
    var Lead = Model.String(BlogKeys.Lead);
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}

<a class="back-link" href="/posts/"><- Back to posts</a>
<div class="post-heading">
    <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
    @if(!string.IsNullOrWhiteSpace(Lead))
    {
        <h2 class="subheading">@Lead</h2>
    }            
    <div class="meta">        
        @if (Published != default(DateTime))
        {
            <text>Posted on @Published.ToLongDateString(Context)<br></text>
        }
    </div>
</div>